@import "./../../config/variables.scss";

.Transaction {
    text-align: left ;
    .SubTitleBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        .Button {
            margin-left: 1em ;
            margin-bottom: 0.5em;
            height: 3em;
        }
        .SubTitleText {
            font-size: 2em;
            padding-top: 0.5em;
            padding-left: 0.5em;
        }
    }
}
.TableTimeStamp {
    width: 180px !important; 
} 
.TableInOut, .TableStatus {
    width: 70px !important; 
}       
.TableSymbol {
    width: 100px !important; 
} 
.TableValue {
    width: 130px !important; 
}
.CommandType {
    width: 130px !important; 
} 
.TransactionHashText {

}