@import "./../../config/variables.scss";

.BodySegment {    
    text-align: left;
    
    .InputBox {
        width: 200px;
        @include breakpoint(phone) {            
            width: 100%;
        }    
    }
    .TitleText {
        font-size: 2em !important;
        color: black;
    }
    .SubmitButton {
        margin-bottom: 1em;
        margin-left: 1em;        
        @include breakpoint(phone-tablet) {
            width: 100%;
            margin-left: 0em;
            margin-top: 1em;
        }    
    }
}

