@import "./../../config/variables.scss";

.BodySegment {    
    .InputBox {
        max-width: 800px;
        @include breakpoint(phone) {            
            width: 100%;
        }   
    }
    .TitleText {
        font-size: 2em !important;
        color: black;
    }
    .SubmitButton {
        width: 200px;
        @include breakpoint(phone) {            
            width: 100%;
        }    
        margin-top: 1em;
    }
}

