@import "./../../config/variables.scss";

.BodySegment {    
    .InputBox {
        
    }
    .TitleText {
        font-size: 2em !important;
        color: black;
    }
    .SubmitButton {
        margin-bottom: 1em;
    }
}

