
.RSPBprogressBar {
    height: 10px;
    line-height: 1;
    border-radius: 10px;
    position: relative;
    background-color: rgba(97, 149, 189, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0; 
}

.RSPBprogressBar .RSPBstep {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: absolute;
    top:0;
    bottom:0;  
    left:0;
    right:0;
    transform: translateX(-50%);
    transition-property: all;
    transition-timing-function: ease; 
}

.RSPBprogressBar .RSPBprogressBarText {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.RSPBprogressBar .RSPBprogression {
    position: absolute;
    transition: width 0.3s ease;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    background: rgba(0,159,232, 1) !important;
    z-index: -1; 
}
