@import "./../../config/variables.scss";

.ModalContainer {
    height: 500px;
    background-color: black !important;
    color: gray;
    text-align: center;
    :first-child {
        margin-top: 30px;
        padding-bottom: 0.5em;
    }
    p {
        padding-top: 0.5em !important;
    }

    .Icon {
        color: #009fe8;
    }

    .WelcomeText {
        font-size: 2em;
        padding-top: 0 !important
    }
    
    .EmailText {
        font-size: 1.3em;
        color: white;
    }

    .DescriptionText {
        padding-bottom: 0.5em !important;
    }

    .ResentText {        
        text-decoration: underline !important;
        cursor: pointer;
    }
}
