@import "./../../config/variables.scss";

.RootSegment {
    max-width: 1200px;
    .TitleDivision {
        .HeaderText {
            text-align: left;
            font-size: 3em !important;
            color: black;
            font-weight: bold;
        }
    }    
    .BodySegment {
        .TitleText {
            font-size: 2em !important;
            color: black;
        }
        .InputBox {
            width: 500px;
            margin-bottom: 1em;
        }
        .SubmitButton {
            width: 200px;
            margin-bottom: 1em;
        }
    }
}

