@import "./../../config/variables.scss";

.BodySegment {
    .TitleText {
        font-size: 2em !important;
        color: black;
    }
    .InputBox {
        width: 800px;
        @include breakpoint(phone) {            
            width: 100%;
        }    
        margin-bottom: 1em;
       
    }
    .SubmitButton {
        width: 200px !important;
        @include breakpoint(phone) {            
            width: 100% !important;
        }   
        margin-bottom: 1em;
    }
}

