@import "./../../config/variables.scss";

.BodySegment {
    text-align: left;
    .WalletAddr {
        word-wrap: break-word;
    }
    .BalanceDiv {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        .Balance {
            margin-right: 2em;
        }
    }
}

