$header-background-path-01: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/header-img-01.jpg";
$header-background-path-02: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/header-img-02.jpg";
$header-background-path-03: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/header-img-03.jpg";
$header-background-path-04: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/header-img-04.jpg";
$header-background-path-05: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/header-img-05.jpg";
$footer-background-path: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/footer-img.jpg";
$kyc-background-path: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/kyc_bg.jpg";
$profile-background-path: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/profile_bg.jpg";
$signup-background-path: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/signin_bg.jpg";
$signin-background-path: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/signup_bg.jpg";
$confirm-background-path: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/confirm_bg.jpg";
$buy-token-background-path: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/buytoken_bg.jpg";
$home-news-background-path: "https://bluecots-ico-bucket.s3.amazonaws.com/static/images/background/news_bg.jpg";



