@import "./../../config/variables.scss";

.RootDivision {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;;
    .MenuBox {
        margin-top: 2em !important;
        background-color: gray !important;
        .MenuItem {
            color: white !important;
        }
    }

    .RootSegment {
        // padding-left: 3em !important;
    }
}
