@import "./../../config/variables.scss";

.Divider {
    margin: 0 !important;
    padding: 0 !important;
    height: 1px !important;
    position: relative;
    width:100%;
}

.PartnersContainer1 {
    padding: 6em 0em 6em 0em !important;
    background-color: white !important;
    border: 0 !important;    
    @include breakpoint(phone) {
        padding: 3em 0em 3em 0em !important;
    }
    .Row1, .Row2 {  
        margin-top: 2em !important;      
        @include breakpoint(phone) {
            margin-bottom: 2em !important; 
        }
        .ImageColumn {
            margin: auto !important;            
            width: 33% !important;
            height: 90px;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            .Image {
                margin: auto;
            }
        }
    }
    .Row2 {                
        padding-left: 12em !important;
        padding-right: 12em !important;
        @include breakpoint(phone-tablet) {
            margin-top: 0em !important;
            padding-left: 0em !important;
            padding-right: 0em !important;
        }    
    }
}

.PartnersContainer2 {
    padding: 6em 0em 6em 0em !important;
    background-color: #edf6ff !important;
    border: 0 !important;    
    @include breakpoint(phone) {
        padding: 3em 0em 3em 0em !important;
    }
    .Header {
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }
    .Row1, .Row2 {  
        margin-top: 2em !important;      
        @include breakpoint(phone) {
            margin-bottom: 2em !important; 
        }
        .ImageColumn {
            margin: auto !important;            
            width: 33% !important;
            height: 90px;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            .Image {
                margin: auto;
            }
        }
    }
    .Row2 {                
        padding-left: 12em !important;
        padding-right: 12em !important;
        @include breakpoint(phone-tablet) {
            margin-top: 0em !important;
            padding-left: 0em !important;
            padding-right: 0em !important;
        }    
    }
}
