@import "./../../config/variables.scss";

.RootSegment {
    text-align: left ;    
    min-height: 550px !important;
    .SubTitleBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        .Button {
            margin-left: 1em ;
            margin-bottom: 0.5em;
            height: 3em;
        }
        .SubTitleText {
            font-size: 2em;
            padding-top: 0.5em;
            padding-left: 0.5em;
        }
    }
    .InputBox {
        width: 400px;
        @include breakpoint(phone) {            
            width: 100%;
        }    
    }
}

.TableItemLong{
    width: 200px !important; 
}    

.TableItemNomal {
    width: 150px !important; 
}

.TableItemSmall {
    width: 100px !important; 
}
.TableItemMini {
    width: 50px !important; 
}